<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="30002" android:versionName="3.0.2" package="com.mob.moblink.demo">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" tools:overrideLibrary="com.mob.moblink,cn.sharesdk,cn.sharesdk.onekeyshare"/>

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>

	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:debuggable="true" android:icon="@drawable/moblink_icon" android:label="@string/app_name" android:name=".app.DemoApplication" android:theme="@style/AppTheme" tools:ignore="HardcodedDebugMode" tools:replace="android:name">

        <meta-data android:name="Mob-AppKey" android:value="moba6b6c6d6"/>
        <meta-data android:name="Mob-AppSecret" android:value="b89d2427a3bc7ad1aea1e1e8c1d36bf3"/>

        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.mob.moblink.demo.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ActivityA" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ActivityB" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ActivityC" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ActivityD" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ActivityMini" android:screenOrientation="portrait"/>

        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ShoppingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".ShoppingDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".NewsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".NewsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".VideosActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".VideosDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".InviteActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".InviteDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".QRcodeExampleActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".TicketActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name=".TicketDetailActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
